In [3]:
! pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/16/c6/75231fd47afd6b3f89011e7077f1a3958441264aca7ae9ff596e3276a5d0/pandas-2.2.2-cp311-cp311-macosx_11_0_arm64.whl.metadata
  Using cached pandas-2.2.2-cp311-cp311-macosx_11_0_arm64.whl.metadata (19 kB)
Collecting numpy>=1.23.2 (from pandas)
  Obtaining dependency information for numpy>=1.23.2 from https://files.pythonhosted.org/packages/d1/d8/597b4b2e396a77cbec677c9de33bb1789d5c3b66d653cb723d00eb331e99/numpy-2.0.1-cp311-cp311-macosx_14_0_arm64.whl.metadata
  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.HTTPSConnection object at 0x10e330850>, 'Connection to files.pythonhosted.org timed out. (connect timeout=15)')': /packages/d1/d8/597b4b2e396a77cbec677c9de33bb1789d5c3b66d653cb723d00eb331e99/numpy-2.0.1-cp311-cp311-macosx_14_0_arm64.whl.metadata
  Downloading numpy-2.0.1-cp311-cp311-macosx_14_0_arm64.whl.metadata (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.9/60.9 kB 78.2 kB/s eta 0:00:00a 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/anastasia.samokhina/.pyenv/versions/3.11.6/envs/gkv/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Obtaining dependency information for pytz>=2020.1 from https://files.pythonhosted.org/packages/9c/3d/a121f284241f08268b21359bd425f7d4825cffc5ac5cd0e1b3d82ffd2b10/pytz-2024.1-py2.py3-none-any.whl.metadata
  Using cached pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Obtaining dependency information for tzdata>=2022.7 from https://files.pythonhosted.org/packages/65/58/f9c9e6be752e9fcb8b6a0ee9fb87e6e7a1f6bcab2cdc73f02bb7ba91ada0/tzdata-2024.1-py2.py3-none-any.whl.metadata
  Using cached tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Users/anastasia.samokhina/.pyenv/versions/3.11.6/envs/gkv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.2-cp311-cp311-macosx_11_0_arm64.whl (11.3 MB)
Downloading numpy-2.0.1-cp311-cp311-macosx_14_0_arm64.whl (5.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.3/5.3 MB 57.1 kB/s eta 0:00:0000:0200:03
Using cached pytz-2024.1-py2.py3-none-any.whl (505 kB)
Using cached tzdata-2024.1-py2.py3-none-any.whl (345 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.0.1 pandas-2.2.2 pytz-2024.1 tzdata-2024.1

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np

In [3]:
df_insurance = pd.read_csv('contribution_rates.csv')
df_insurance.head()

  Period  Contribution Rate (%)  Yearly Increase (%)
0   1970                    8.2                  NaN
1   1975                   10.5            28.048780
2   1980                   11.4             8.571429
3   1985                   11.8             3.508772
4   1990                   12.5             5.932203

In [4]:
df_zusatz = pd.read_csv('additional_contribution_rates_with_increase.csv')
df_zusatz.head()

   Year  Average Additional Contribution Rate (%)  Yearly Increase (%)
0  2015                                      0.83                  NaN
1  2016                                      1.08            30.120482
2  2017                                      1.11             2.777778
3  2018                                      1.08            -2.702703
4  2019                                      0.99            -8.333333

In [5]:
insurance_increase = df_insurance['Yearly Increase (%)'].values[1:]
insurance_increase

array([28.04878049,  8.57142857,  3.50877193,  5.93220339,  5.6       ,
        2.27272727,  0.74074074,  2.94117647,  2.14285714, -0.6993007 ,
        0.        ,  0.        ,  0.        ,  4.22535211,  0.67567568,
        4.02684564, -3.87096774,  4.02684564, -5.80645161,  0.        ,
        0.        ,  0.        ,  0.        ])

In [11]:
renteanpassung = pd.read_csv('rentenanpassung-verbraucherpreisindex.csv', sep=';')
renteanpassung.head()

   Jahr  Rentenanpassung West  Rentenanpassung Ost  Verbraucherpreisindex
0  2009                  2.41                 3.38                    0.3
1  2010                  0.00                 0.00                    1.1
2  2011                  0.99                 0.99                    2.1
3  2012                  2.18                 2.26                    2.0
4  2013                  0.25                 3.29                    1.4

In [6]:
zusatz_increase = df_zusatz['Yearly Increase (%)'].values[1:]
zusatz_increase

array([30.12048193,  2.77777778, -2.7027027 , -8.33333333,  1.01010101,
       28.        ,  6.25      , 11.02941176, 12.58278146])

In [21]:
zusatz_percentage = df_zusatz['Average Additional Contribution Rate (%)'].values
zusatz_percentage

array([0.83, 1.08, 1.11, 1.08, 0.99, 1.  , 1.28, 1.36, 1.51, 1.7 ])

In [26]:
df = pd.read_csv('gkv_contribution_rates.csv')
df['BBG (Month)'] = df['BBG (Month)'] / 100
df.index = df['Year']
df = df.drop(columns=['Year'])
df.head()

      BBG (Month)  BBG (Year) Average GKV Contribution Rate (%)
Year
2023       4987.5     59850.0                              14,6
2022       4837.5     58050.0                              14,6
2021       4837.5     58050.0                              14,6
2020       4687.5     56250.0                              14,6
2019       4537.5     54450.0                              14,6

In [13]:
hochstbeitrag_2024 = 843
age_2024 = 30
age_rente = 72
expected_life = 90
rente_anspruch = 2500

zusatz_percent_2024 = df_zusatz["Average Additional Contribution Rate (%)"].iloc[-1]
zusatz_value = 5175 * (zusatz_percent_2024/100)

In [17]:
# one simulation
beitrag = hochstbeitrag_2024
zusatz = zusatz_value
zusatz_percent = zusatz_percent_2024
rente = rente_anspruch
for year in range(age_2024, age_rente):
#     yearly_increace = np.random.choice(insurance_increase)
#     zusatz_yearly = np.random.choice(zusatz_percentage)
#     rente_increase = np.random.choice(renteanpassung['Rentenanpassung West'].values)
#     # print(f"Year {year}: {yearly_increace:.2f}, {zusatz_yearly_increase:.2f}")

#     beitrag = beitrag * (1 + yearly_increace / 100)
#     zusatz = zusatz * (1 + zusatz_yearly_increase / 100)

#     rente = rente * (1 + rente_increase / 100)

#     print(f"Year {year}: {beitrag:.2f} + {zusatz:.2f} = {beitrag + zusatz:.2f}")

# for year in range(age_rente, expected_life):
#     rente_increase = np.random.choice(renteanpassung['Rentenanpassung West'].values)
#     rente = rente * (1 + rente_increase / 100)

#     zusatz_yearly_increase = np.random.choice(zusatz_increase)

    

    # gkv_preis = ((14.6) / 100) * rente 

    # print(f"Year {year}: {rente:.2f}, {gkv_preis:.2f}")

Year 30: 861.06 + 97.68 = 958.74
Year 31: 861.06 + 100.39 = 961.46
Year 32: 861.06 + 106.67 = 967.73
Year 33: 861.06 + 136.53 = 997.60
Year 34: 861.06 + 145.07 = 1006.13
Year 35: 912.14 + 146.53 = 1058.68
Year 36: 912.14 + 187.56 = 1099.70
Year 37: 963.22 + 199.28 = 1162.51
Year 38: 963.22 + 255.08 = 1218.31
Year 39: 963.22 + 331.91 = 1295.14
Year 40: 925.94 + 431.89 = 1357.82
Year 41: 945.78 + 436.25 = 1382.03
Year 42: 985.74 + 399.89 = 1385.64
Year 43: 1070.23 + 511.87 = 1582.10
Year 44: 1008.09 + 666.04 = 1674.13
Year 45: 1050.69 + 707.67 = 1758.36
Year 46: 1050.69 + 688.54 = 1739.23
Year 47: 1057.79 + 669.93 = 1727.72
Year 48: 1057.79 + 857.52 = 1915.30
Year 49: 1102.48 + 1097.62 = 2200.10
Year 50: 1102.48 + 1428.23 = 2530.71
Year 51: 1094.77 + 1858.42 = 2953.19
Year 52: 1156.08 + 2378.77 = 3534.85
Year 53: 1180.85 + 3044.83 = 4225.68
Year 54: 1206.16 + 2962.54 = 4168.69
Year 55: 1254.73 + 3854.87 = 5109.59
Year 56: 1254.73 + 3750.68 = 5005.41
Year 57: 1254.73 + 3438.12 = 4692.85
Year 58: 1254.73 + 3817.33 = 5072.06
Year 59: 1245.95 + 4055.91 = 5301.87
Year 60: 1274.27 + 4566.26 = 5840.53
Year 61: 1224.94 + 5941.64 = 7166.58
Year 62: 1177.53 + 6689.26 = 7866.79
Year 63: 1212.16 + 8704.10 = 9916.26
Year 64: 1239.71 + 7978.76 = 9218.47
Year 65: 1276.17 + 7313.86 = 8590.03
Year 66: 1305.17 + 8120.54 = 9425.71
Year 67: 1229.39 + 7443.83 = 8673.22
Year 68: 1229.39 + 7650.60 = 8879.99
Year 69: 1574.22 + 9955.00 = 11529.21
Year 70: 1574.22 + 12742.40 = 14316.61
Year 71: 1662.37 + 14147.81 = 15810.18
Year 72: 6023.41, 17346.68
Year 73: 6154.72, 17724.84
Year 74: 6215.66, 17900.32
Year 75: 6333.75, 18240.42
Year 76: 6454.10, 18586.99
Year 77: 6609.64, 19034.94
Year 78: 6822.47, 19647.86
Year 79: 6839.53, 19696.98
Year 80: 6953.75, 20025.92
Year 81: 7105.34, 20462.49
Year 82: 7224.00, 20804.21
Year 83: 7361.25, 21199.49
Year 84: 7595.34, 21873.64
Year 85: 7918.14, 22803.27
Year 86: 8068.59, 23236.53
Year 87: 8328.40, 23984.74
Year 88: 8615.72, 24812.22
Year 89: 8796.66, 25333.27

In [18]:
zusatz_percent

np.float64(273.38757544314785)